<html>
    <head>
        <title>Activation [Hottopic]</title>
    </head>  

    <body>
        <p> Hey {{.User.Name}}, here is your activation token.</p>
        <p> {{.Token}} </p>
    </body>
</html>