<html>
    <head>
        <title>Forgot Password [Hottopic]</title>
    </head>  

    <body>
        <p> Hey {{.User.Name}}, here is your change password link.</p>
        <a href="http://localhost:5173/reset-password/{{.Token}}">Reset Password</a>
    </body>
</html>